/* general */
*{
padding: 0;
margin: 0;
}

.container{
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.hightlight{
  background-color: yellow;
}
/* header */
header{
  padding: 10px;
  height: 100px;
  background-color: #41A1DF;
  background-image: url('../img/pattern.png');
  background-size: 35%;
}

header .logo img{
  width: 200px;
  margin-top: 40px;
}

/* main */
main{
  padding: 20px 10px;
}

main p.text{
  padding: 20px 0px;
}

main .dida{
  color: grey;
}

main .dida span{
  color: #41A1DF;
}

main .dida.date, 
main .photo .caption{
  font-size: 0.8rem;
}

main ul{
  margin-left: 15px;
}

main table{
  margin-top: 20px;
  border-collapse: collapse;
}

main table thead{
  background-color: #41A1DF;
  color: white;
  text-align: left;
}

main table .text{
  width: 50%;
}

main table .odd{
  background-color:#B1E2EF;
}

/* footer */
footer{
  padding: 20px 10px;
}

footer .image-box{
  width: 207px;
  height: 158px;
  color: white;
  margin: 10px 0;
  padding: 20px;
}

#img-monitor{
  background-image: url('../img/monitor.jpg');
}

#img-graphic{
  background-image: url('../img/graph.jpg');
}

footer h4{
  color: grey;
}