*{
  margin: 0;
}

header{
background-color: #41A1DF;
}

main{
  padding: 10px;
}

h1{
  font-size: 60px;
}

thead{
  color: white;
  background-color: #41A1DF;
}


h4, .date{
  color: #727272;
}

#author{
  color: #3F9FDE;
}

.date{
  font-size: .75rem;
}

.pattern{
  background-image: url(../img/pattern.png);
}

#logo{
  width: 300px;
  height: 150px;
}

.img{
  margin-top: 10px;
}

.intestazione p{
  font-size: .75rem;
}

tbody .row-celeste{
  background-color: #B1E2EF;
}

.evidence{
  background-color: yellow;
}

div span{
  color: white;
  font-weight: bold;
}

#pc{
  font-size: 30px;
  width: 300px;
  height: 250px;
  background-size: cover;
  background-position: center;
  background-image: url(../img/monitor.jpg);
}

#monitor{
  font-size: 30px;
  width: 300px;
  height: 250px;
  background-size: cover;
  background-position: center;
  background-image: url(../img/graph.jpg);
}